.box{
    display: flex;
    width:90vw;
    height: 80vh;
    justify-content: space-around;
    text-align: center;
}
.left nav{
    width: 25vw;
    background-color: rgb(202, 161, 161);
}
.center nav{
    width: 25vw;
    background-color: lightgreen;
}
.right nav{
    width: 25vw;
    background-color: lightgray;
}
nav{
    height: 5vh;
    width: 100%;
    line-height: 5vh;
}
.left .ctext{
    margin-top: 15px;
    padding: 10px;
    height: 80%;
    background-color: rgb(202, 161, 161);
}
.center .ctext{
    margin-top: 15px;
    padding: 10px;
    height: 80%;
    background-color: lightgreen;
}
.right .ctext{
    padding: 10px;
    margin-top: 15px;
    height: 80%;
    background-color: lightgray;
}
.imgbox{
    width:45px;
    height:45px;
    text-align:'center';
    margin: 0 auto;
    overflow:hidden;
    border-radius: 50%;
    background-color: teal;
    cursor: pointer;
}